{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <footer>
        <div class="footer-a">
            <a href="https://www.linkedin.com/in/yusif-trull-ba7818221/">Linkedin</a>
            <a href="https://www.youtube.com/channel/UCgH9ERcrIDGnYvVBVIzdvrA">YouTube</a>
            <a href="https://github.com/Yusif-Alaidy">Github</a>
            <a href="https://wa.me/201018946077">Whatsapp</a>
        </div>
        <div class="footer-p">
            <p>© 2023 All rights reserved.</p>
        </div>
    </footer>
</body>
</html>